.mainWrapper {
  display: flex;

  flex-direction: column;
  gap: 45px;
  margin: 15px;
}

.movieImg {
  height: 300px;
  margin-top: 70px;
}

.movieWrapper {
  display: flex;
  gap: 70px;
}

.goBackLink {
  position: fixed;
  left: 45px;
  padding: 10px 25px;
  background-color: #fff;
  border: 0.5px solid #4169e1;
  border-radius: 4px;
  color: #4169e1;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.25s ease-in-out;
}

.goBackLink:hover,
.goBackLink:focus {
  background-color: #4169e1;
  color: #fff;
}

.movieText {
  text-align: start;
}

.movieUl {
  display: flex;
  gap: 40px;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

@media only screen and (max-width: 1100px) {
  .movieWrapper {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .movieImg {
    width: 250px;
    height: 200px;
  }

  .goBackLink {
    padding: 5px 15px;
  }
}
