.infoImageWrapper {
  text-align: center;
}

.castListWrapper {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 60px;
}

@media only screen and (max-width: 499px) {
  .castListWrapper {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 500px) {
  .castListWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}

@media only screen and (min-width: 600px) {
  .castListWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
}
